h1, h2 {
	font-family: "Open Sans Condensed", sans-serif;
}

main {
	float: left;
	width: 85%;
	padding-bottom: 80px;
}

main h1 {
	font-size: 60px;
	background-color: #851944;
	color: #FAFFFA;
	text-align: center;
	padding: 25px;
	margin: 0;
	border-bottom: 10px solid #000000;
	text-transform: uppercase;
}

main a {
	color: #851944;
}

main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

h2 {
	font-size: 30px;
	clear: both;
}

p {
	text-align: justify;
	margin: 20px 0;
}

body {
	font-family: "Crimson Text", serif;
	background-color: #F2FFFC;
	line-height: 1.5;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

blockquote {
	background-color: #D9E5E3;
	margin: 20px 40px;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
}

.fiat {
	float: right;
}

.petrobras {
	float: left;
}

cite {
	font-style: italic;
	float: right;
	display: block;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
}

blockquote, aside, footer {
	padding: 20px;
}

.bio-joao-foto, .aside-nav-bio{
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.bio-joao-foto {
	position: absolute;
	top: 0;
	right: 0;
}

.aside-nav-bio {
	position: relative;
	width: 15%;
	top: 310px;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}

.icones-sociais li {
	display: inline-block;
}

#rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	padding: 20px;
}

.icones-sociais a {
	display: inline-block;
	width: 40px;
	height: 40px;
	font-size: 0;
}

.github {
	background-image: url('github.png');
}

.twitter {
	background-image: url('twitter.png');
}

.linkedin {
	background-image: url('linkedin.png');
}

nav a {
	color: #F2FFFC;
	text-transform: lowercase;
}

/* drawing with div */
/*
#butterfly {
	border-left: 30px solid red;
	border-bottom: 30px solid transparent;
	border-top: 30px solid transparent;
	border-right: 30px solid red;
	width: 0;
}
*/

article {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.leia-mais {
	padding: 8px;
	margin: 16px;
	display: block;
	font-size: 24px;
	text-align: center;
	background-color: #E6E7E8;
}